{% load static %}
<link rel="stylesheet" href="{% static 'css/profile/Table Responsive.css' %}">

<div class="profile-table-wrapper">
{#{% for order in orders %}#}
  <h1 class="h1-table-profile"><span class="blue">&lt;</span>{{ order.id }}<span class="blue">&gt;</span> <span class="yellow">Responsive</span></h1>
  <h2 class="h2-table-profile">Created with love by <a href="https://github.com/pablorgarcia" target="_blank">Pablo García</a></h2>

  <table class="profile-table-wrapper container-table-profile">
    <thead class="profile-table-wrapper">
      <tr>
        <th><h1 class="h1-table-profile" style="color: #dadada">Товар</h1></th>
        <th><h1 class="h1-table-profile" style="color: #dadada">Цвет</h1></th>
        <th><h1 class="h1-table-profile" style="color: #dadada">Размер</h1></th>
        <th><h1 class="h1-table-profile" style="color: #dadada">Количество</h1></th>
        <th><h1 class="h1-table-profile" style="color: #dadada">Цена</h1></th>
        <th><h1 class="h1-table-profile" style="color: #dadada">Общая стоимость</h1></th>
      </tr>
    </thead>
    <tbody>
{#    {% for item in order.orderitem_set.all %}#}
      <tr style="text-align: center">
        <td><a class="text-white" href="{{ item.product_variant.product.get_absolute_url }}">{{ item.name }}</a></td>
        <td>{{ item.product_variant.color }}</td>
        <td>{{ item.product_variant.size }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }} руб.</td>
        <td>{{ item.products_price }} руб.</td>
      </tr>
{#    {% endfor %}#}
    </tbody>
  </table>
{#{% endfor %}#}
</div>