{% extends 'base.html' %}
{% load static %}


{% block title %}
    Личный профиль
{% endblock %}
{% block css_style %}
    <link rel="stylesheet" href="{% static 'css/profile/btn-order-hover.css' %}">
{% endblock %}

{% block main %}
    <section style="margin: 66px -13px; background: antiquewhite;">
    <!-- Контент -->
    <div class="container">
    <div class="row mt-1">
    <div class="col-lg-2">
        <!-- Пустой блок на усмотрение -->
    </div>
    <div class="col-lg-14">
    <!-- Контент на странице -->
    <div class="row">
    <div class="container mt-5">
    <div class="row">
    <!-- Профиль с данными пользователя -->
    <div class="col-md-5" style="position: relative; top: -40px; display: block;margin: 0 auto;">
        <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
            <h3 class="text-center mb-4 yellow_text">Профиль пользователя</h3>
            <form action="{% url 'user:profile_page' %}" method="post">
            {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 mb-3 text-center">
                        <img src="{% static 'img/profile/free-png.ru-297-370x370.png' %}"
                             alt="Аватар пользователя" class="img-fluid rounded-circle"
                             style="max-width: 170px;">
                    </div>
                      <div class="col-md-12 mb-3">
                        <label for="id_username" class="form-label">Имя пользователя*</label>
                        <input type="text" class="form-control" id="id_username"
                        name="username" placeholder="Введите ваше имя пользователя" value="{{ form.username.value }}" disabled required>
                        {% if form.username.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                        {% endif %} 
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_first_name" class="form-label">Имя*</label>
                        <input type="text" class="form-control" id="id_first_name" 
                               name="first_name" placeholder="Введите ваше имя" value="{{ form.first_name.value }}" required>
                        {% if form.first_name.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                        {% endif %} 
                    </div>
                
                    <div class="col-md-12 mb-3">
                        <label for="id_last_name" class="form-label">Фамилия*</label>
                        <input type="text" class="form-control" id="id_last_name"
                               name="last_name" placeholder="Введите вашу фамилию" value="{{ form.last_name.value }}" required>
                        {% if form.last_name.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                        {% endif %} 
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="id_email" class="form-label">Email*</label>
                        <input type="email" class="form-control" id="id_email" 
                        name="email" placeholder="Введите ваш email" value="{{ form.email.value }}" required>
                        {% if form.email.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                        {% endif %} 
                    </div>   
                    <div class="col-md-12 mb-3">
                        <label for="id_phone_number">Номер телефона*</label>
                        <input class="form-control" id="id_phone_number" value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                                name="phone_number" required type="text" placeholder="+79XXXXXXXXX"/>
                    {% if form.phone_number.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{ form.phone_number.errors }}</div>
                    {% endif %} 
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Сохранить</button>
            </form>
        </div>
    </div>
    <!-- Корзина -->
   
    <!-- Оформленные заказы -->

    <div class="col-md-12" style="position: relative; top: -50px">
    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">

    <h2 class="text-center mb-4 yellow_text">Мои заказы</h2>
    <!-- Разметка заказов -->

    <div class="container">
        <div class="accordion" id="accordionExample">
            {% for order in orders %}
             <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ order.id }}" style="text-align: center">
                    <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %} btn-order-hover" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}"
                            style="background: antiquewhite; color: black; border: solid;" aria-expanded="false" aria-controls="collapse{{ order.id }}">
                        <strong>Заказ</strong> от {{ order.created_timestamp }} | Статус: <strong class="mx-2">{{order.status}}</strong>
                        <img src="{% static 'img/profile/icons8-шеврон-вниз-в-круге-50.png' %}" alt="" style="height: 31px">
                    </button>
                </h2>
                <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}" aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr style="text-align: center">
                                    <th>Товар</th>
                                    <th>Цвет</th>
                                    <th>Размер</th>
                                    <th>Количество</th>
                                    <th>Цена</th>
                                    <th>Общая стоимость</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.orderitem_set.all %}
                                <tr style="text-align: center">
                                    <td><a class="text-white" href="{{ item.product_variant.product.get_absolute_url }}">{{ item.name }}</a></td>
                                    <td>{{ item.product_variant.color }}</td>
                                    <td>{{ item.product_variant.size }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.price }} руб.</td>
                                    <td>{{ item.products_price }} руб.</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div><!-- Закончилась разметка заказов -->
</div>

{% endblock %}
<!-- Закончилась разметка заказов -->
</div>

</div>
</div>
</div>
</div>
</div>
</div>


<script src="{% static 'js/jQueryv3.7.1.js' %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

<script src="../deps/js/jquery-events.js"></script>
<script src="../deps/js/jquery-ajax.js"></script>

